@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-100: #f87070;
  --c-200: #70f3f8;
  --c-300: #d881f8;
  --c-400: #d7e0ff;
  --c-500: #1e213f;
  --c-600: #ffffff;
  --c-700: #eff1fa;
  --c-800: #161932;
}

@layer base {
  html {
    @apply bg-c-800;
  }

  h1 {
    @apply font-bold text-[120px] leading-[120px] -tracking-[5px];
  }

  h2 {
    @apply font-bold text-[28px] leading-[34px];
  }

  h3 {
    @apply font-bold text-base leading-[19px] tracking-[15px] uppercase;
  }

  h4 {
    @apply font-bold text-[13px] leading-[16px] tracking-[5px] uppercase;
  }

  .body-one {
    @apply font-bold text-[14px] leading-[18px];
  }

  .body.two {
    @apply font-bold text-[12px] leading-[14px];
  }

  .timer {
    position: relative;

    width: 366px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    background-color: var(--c-800);

    display: grid;
    place-content: center;
  }

  .timer::before {
    z-index: -2;
    position: absolute;

    content: "";

    width: 366px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    box-shadow:
      -50px -50px 100px var(--c-500),
      50px 50px 100px var(--c-800);
  }

  .timer::after {
    z-index: -1;
    position: absolute;

    content: "";
    width: 410px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: linear-gradient(var(--c-800), var(--c-500));
  }
}
